/* 1442*754 */


html {
    font-family: "Edu AU VIC WA NT Pre";
    background-color: white;
}

  
img#google {
    width: 19%;
    height: 11.6%;
    position: absolute;
    top: 18%;
    left: 40.5%;
}

img#search {
    width: 2%;
    height: 3.5%;
    position: absolute;
    top: 36.3%;
    left: 25%;
    z-index: 2;    
}

img#littleguys {
    width: 4.2%;
    height: 3.2%;
    position: absolute;
    top: 36.2%;
    left: 70.6%;
    z-index: 2;     
}

img#jj {
    width: 6.5%;
    height: 13%;
    z-index: 3;
    position: absolute;
    top:44.3%;
    left:46.5%;
}

img#searchwords {
    cursor: text;
    width: 12.3%;
    height: 3.1%;
    position: absolute;
    top: 36.5%;
    left: 27.55%;
    z-index: 2;    
}

body{
  border: 0px, solid black;
  padding: 0px 100px 0px 10px;
  margin: 10px 10px;
  width: 50px;
  height: 500px;
}

button{
    cursor: text;
    position:absolute;
    border-radius: 65px;
    border-style: none;
    box-shadow: 0px 1px 4px rgb(180, 179, 179);
    background-color: white;
    top: 34.74%;
    left: 24.1%;
    height: 6.6%;
    width: 51.7%;
    z-index: 1;
}