
body {
    border-style: groove;
    border-color: black;
    border-width: 0px;
}

img {
    position: absolute;
    width: 87%;
    left: 12%;
    top: 0px;
    border-style: groove;
    border-color: black;
    border-width: 0px;
    z-index: 2;
}

h1:hover {
    color:blueviolet;
}

div#div {
    position: relative;
    border-style: groove;
    border-color: black;
    border-width: 0px;
    width: 10%;
    right: 50%;
    left: 0px;
}

div#loading {
    position: absolute;
    left: 45%;
    top: 40%;
    z-index: 1;
}
